body{
  background-color: #E9E9E9;
  margin: 10px, 0;

}

.heading{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 50px;
  padding: 0;
  box-shadow: 0 2px 4px -1px rgba(57, 76, 96, 0.15);
}

.drop{
  padding-top: 10px;
  width: 65%;
  display: flex;
}
.heading a{
  font-family: "apercu",sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #000000;
  text-decoration: none;
}
h3{
  position: absolute;
  z-index: 3;
  color: #63686E;
  font-size: 12px;
  font-family: "apercu",sans-serif;

}
.dropdown {
  position: relative;
  width: 755.55px;
  height: 40px;
}
input,
.search {
  position: absolute;
}
input {
  font-weight: 500;
  z-index: 2;
  position: absolute;
  height: 40px;
  width: 613px;
  border: 0;
  outline: none;

  padding-left: 34px;
  border-radius: 4px;
  background: transparent;
  font-family: inherit;
  font-size: 13px;
}

.search {
  padding-left: 7px;
  top: 13px;
  left: 10px;
  z-index: 3;
  width: 16px;
  height: 16px;
  pointer-events: none;
}

input:focus {
  width: 613px;
  border-color: transparent;
  background-color: #373A40;
}
input:focus ~ .menu {
  box-shadow: 0 0px 8px 0 rgba(57, 76, 96, 0.18);
  height: 400px;
  width: 650px;
  padding-top: 40px;
  border-radius: 4px;
  background: #2C3333;
}
input:focus ~ .dd2b{
  background-color: #2c3333;
}
input:focus ~ .menu .menu-content {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.opt, .tags{
  position: absolute;
  display: flex;
  grid-gap: 10px;
  padding-left: 25px;
  padding-top: 55px;
}
.menu-content{
  padding-top: 35px;
  display: table-column;
}
.menu {
  z-index: 1;
  position: absolute;
  height: 40px;
  width: 100%;
  transition-property: width;
  transition-duration: 0.3s;
}
.menu-content {
  position: absolute;
  width: inherit;
  visibility: hidden;
  opacity: 0;
  border-top: 1px solid #dfe4e7;
}
.menu h3{
  padding-left: 35px;
  color: #B2B2B2;
}
.tags button {
  gap: 10px;
  align-items: center;
  background: transparent;
  cursor: pointer;
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family:  "apercu",sans-serif;
  color: #B2B2B2;
  font-size: 12px;
  background: #323232;
  padding: 5px 5px 6px 8px;
  border: solid #B2B2B2 2px;
  text-decoration: none;
}

.menu button img {
  width: 25px;
  height: 16px;
}

.menu button:hover {
  background: #ffffff;
  text-decoration: none;
}

span {
  white-space: nowrap;
}
.menu button span:last-child {
  opacity: 0;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
}

.menu button:hover span:last-child {
  opacity: 1;
}
.IN{
  padding-left: 80px;
}
.dd2{
  position: relative;
  z-index: 4;
  cursor: pointer;
}
.dd2 > a{
  display: flex;
  align-items: center;
  gap: 2px;
  height: 72px;
}
.dd2 > a > img {
  width: 20px;
}
.dd2:focus .dd2m{
  opacity: 1;
  visibility: visible;
}
.dd2m > a {
  font-size: 14px;
  padding: 12px 20px;
}
.dd2m{
  position: absolute;
  top: 60px;
  right: 20px;
  display: grid;
  width: 180px;
  padding top: 8px;
  padding-left: 50px;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
}
.dd2 button{
  position: relative;
  z-index: 3;
  text-align: left;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #323232;
  font-size: 17px;
  background: transparent;
  margin-top: 3px;

  padding: 7px 40px 7px 40px;
  border: solid #B2B2B2 0px;
  text-decoration: none;
}
.dd2:focus .dd2 button{
  background: #0F0E0E;
  text-decoration: none;
}
.dd2m::before{
  content: "";
  background: inherit;
  border-top: 1px solid #elelel;
  border-right: 1px solid #elelel;
  position: absolute;
  top: -20px;
  right: 20px;
  width: 12px;
  height: 12px;
  rotate: -45deg;
}
.bepro{
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: "apercu",sans-serif;
  color: #ffffff;
  font-size: 15px;
  margin-left: 7px;
  background: #000000;
  padding: 11px 20px 11px 20px;
  text-decoration: none;
}
.bepro:hover{
  background: #3c4e59;
  text-decoration: none;
}
.submit{
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: "apercu",sans-serif;
  color: #4d4d4d;
  font-size: 15px;
  margin-left: 7px;
  background: #E9E9E9;
  padding: 11px 20px 11px 20px;
  text-decoration: none;
}
.submit:hover{
  background: #575757;
  text-decoration: none;
  color: #ffffff;
}
.exa{
  padding-top: 10px;
}
.sobu{
  position: relative;
  margin: auto;
}



/* BODYbodyBODYbodyBODYbodyBODYbodyBODY*/
h1{
  font-size: 172px;
}
.SOTD h1{
  width: 100%;
  margin-top: 35px;
  margin-bottom: 25px;
  text-align: center;
  font-family: "apercu",sans-serif;

}
.marq{
  font-family: "apercu",sans-serif;
  font-size: 29px;
}
.SOTD img{
  width: 95%;
  margin-top: 30px;
  margin-left: 40px;
  height: 800px;
  border-width: 100px;
  border-color: #0F0F0F;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sobu{
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  border-color: #ffffff;
  font-family: "apercu",sans-serif;
  color: #ffffff;
  font-size: 18px;
  background: transparent;
  padding: 23px 23px 23px 23px;
  text-decoration: none;
  margin: auto;
  text-align: center;
  margin: auto;
}
.sobu:hover{
  text-decoration: none;
}


.scroll-top-button {
  position: fixed;
  left: 20px;
  bottom: 36px;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  border: 0;
  border-radius: 10%;
  background: #B9B9B9;
  color: #f9f9f9;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.scroll-top-button.visible {
  opacity: 1;
  visibility: visible;
}
.arr{
  color: #2C3333;
  margin-left: 30px;
}
.asd{
  text-decoration: none;
  color: inherit;
  font-size: 1.8rem;
}
.asf{
  text-decoration: none;
  color: inherit;
  font-size: 2.4rem;
}
.obt{
  margin: 3px;
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  background: #3f4040;
  padding: 6px 7px 6px 7px;
  border: solid #02070a 1px;
  text-decoration: none;
}
.divider {
  width: 1px;
  margin: 1px 0;
  background: #ffffff;
}

.homebtn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  background: #121212;
  padding: 6px 11px 7px 12px;
  border: solid #02070a 1px;
  text-decoration: none;
}
.rndm{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  margin: 20px 30px;
}
